{% extends 'home/base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}
<style>
    body{
      background: #f4f4f4;
    }

  </style>
  <div class= "shadow p-4 mb-5 bg-body rounded">

<h1>
    Register...!
</h1>
<br>
<br>




<div class="form-group">
    <form action="" method="post">
     {% csrf_token %}
     {{ form.as_p }}





        <button  class="btn btn-secondary">Register</button>
    </form>
</div>
</div>



{% endblock content %}