{% extends 'home/base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block content %}
<style>
    body{
      background: #f4f4f4;
    }
    #repo-btn{
      text-decoration: none;
      display: flex;
      position: absolute; 
      bottom : 2%;
      font-size: inherit;
      border-radius: 10px;
      color: white;
      left: 5%;
      background-color: #5f6162;
      width: 10vw;
      padding: 8px;
      cursor: pointer;
      outline: none;
      box-shadow: #5f6162;
  }
  </style>
  <div class= "shadow p-4 mb-5 bg-body rounded">

<h1>
    Update Profile...!
</h1>
<br>
<br>




<div class="form-group">
    <form action="" method="post" enctype = "multipart/form-data">
     {% csrf_token %}
      {{ user_form.as_p }}
      <br> <br>
      {{ profile_form.as_p }} 

        <button class="btn btn-secondary">Update Profile</button>
    </form>
    <br><br>
</div>
<a href="{% url 'update_password' %}" class="btn btn-secondary" >Update Password</a>
</div>



{% endblock content %}