{% extends 'home/base.html' %}
{% load static %}
{% block title %} Chemistry{% endblock title %}
{% block content %}

 
<h2> C# Fundamentals To Project-Based Learning  </h2>


<div class="shadow p-4 mb-5 bg-body rounded">
    <p class="capitalize">


      <h4>  Month 1: C# Fundamentals </h4>

        - Study contents: <br>
            - Introduction to C#<br>
            - Basic syntax and data types<br>
            - Variables, data types, and operators <br>
            - Control structures (if/else, for loops, while loops) <br>
            - Methods<br><br>
       
        
     <h5>   Monthly Exam 1 (End of Month 1)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: C# fundamentals<br><br>
    </h5>
    <h4> Month 2: C# Programming </h4>
        
        - Study contents:<br>
            - Classes and objects<br>
            - Constructors and methods<br>
            - Inheritance and polymorphism<br>
            - Encapsulation<br><br>
   
        
    <h5>    Monthly Exam 2 (End of Month 2)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: C# programming<br><br>
    </h5>  
      <h4>  Month 3: Advanced C# Topics </h4>
        
        - Study contents:<br>
            - Interfaces and abstract classes<br>
            - Exception handling<br>
            - File input/output operations<br>
            - Delegates and events<br><br>
       
        
    <h5>    Monthly Exam 3 (End of Month 3)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: Advanced C# topics<br><br>
    </h5>   
       <h4> Month 4: C# Frameworks and Libraries </h4>
        
        - Study contents:<br>
            - .NET Framework<br>
            - (link unavailable) and web development<br>
            - (link unavailable) and database access<br><br>
     
        
      <h5>  Monthly Exam 4 (End of Month 4)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: C# frameworks and libraries<br><br>
    </h5>
        <h4>Month 5: C# Best Practices and Design Patterns </h4>
        
        - Study contents:<br>
            - C# best practices<br>
            - Design patterns (e.g. Singleton, Factory, Observer)<br>
            - Code quality and testing<br><br>
    
        
       <h5> Monthly Exam 5 (End of Month 5)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: C# best practices and design patterns<br><br>
    </h5>
      <h4>  Month 6: Project-Based Learning and Review  </h4>
        
        - Study contents:<br>
            - Project development and deployment<br>
            - Review of all topics covered in the course<br><br>
     
        
      <h5>  Final Exam (End of Month 6)<br>
        
        - Exam format: Multiple-choice questions and coding challenges<br>
        - Topics to cover: All topics covered in the course<br>
    </h5>
    
     

<br>


</p>
</div>



{% endblock content %}