{% extends 'home/base.html' %}
{% load static %}
{% block title %} Food Sciencies {% endblock title %}
{% block content %}

 
<h2>C++ Fundamentals To Project-Based Learning  </h2>


<div class="shadow p-4 mb-5 bg-body rounded">
    <p class="capitalize">


      <h4>  Month 1: C++ Fundamentals  </h4>

        <b>- Study contents: <br> </b>
            - Introduction to C++ <br>
            - Basic syntax and data types <br>
            - Variables, data types, and operators <br>
            - Control structures (if/else, for loops, while loops) <br>
            - Functions <br> <br>
       
        
       <h5> Monthly Exam 1 (End of Month 1)  <br>
        
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: C++ fundamentals <br> </h5>
    </h5>
       <h4> Month 2: C++ Programming  </h4>
        
       <b> - Study contents: <br>  </b>
            - Arrays and vectors  <br>
            - Pointers and memory management <br>
            - Classes and objects <br>
            - Constructors and destructors <br> <br>
        
        
       <h5> Monthly Exam 2 (End of Month 2) <br>
        
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: C++ programming <br> <br>
    </h5>
       <h4>  Month 3: Advanced C++ Topics </h4>
        
        <b>- Study contents: <br> </b>
            - Inheritance and polymorphism <br>
            - Operator overloading <br>
            - Exception handling <br>
            - Templates <br><br>
       
        
       <h5> Monthly Exam 3 (End of Month 3) <br>
        
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: Advanced C++ topics <br><br>
    </h5>
      <h4>  Month 4: Data Structures and Algorithms </h4>
        
     <b>   - Study contents: <br> </b>
            - Arrays, linked lists, stacks, and queues <br>
            - Trees and graphs <br>
            - Sorting and searching algorithms <br> <br>
        
        
       <h5>  Monthly Exam 4 (End of Month 4)
        <br>
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: Data structures and algorithms <br><br>
    </h5>
        <h5>Month 5: File Input/Output and Advanced Topics </h5>
        
     <b>   - Study contents: <br></b>
            - File input/output operations <br>
            - Advanced topics (smart pointers, concurrency) <br> <br>
        
        
      <h5>  Monthly Exam 5 (End of Month 5) <br>
        
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: File input/output and advanced topics <br> <br>
    </h5>
      <h4>  Month 6: Project-Based Learning and Review </h4>
        
       <b> - Study contents: <br> </b>
            - Project development and deployment <br>
            - Review of all topics covered in the course <br> <br>
        
      <h5>  Final Exam (End of Month 6) <br>
        
        - Exam format: Multiple-choice questions and coding challenges <br>
        - Topics to cover: All topics covered in the course <br>
    </h5>

    
     
</p>
</div>
<br>






{% endblock content %}