{% extends 'home/base.html' %}
{% load static %}
{% block title %}Applied Sciencies{% endblock title %}
{% block content %}

 
<h1>Six Monthes Long-term Courses</h1>

<br>
</br>

    
     
     
    <div class = "container">
      <div class="container marketing">
    
        
        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'dp.images/mit.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 73% height= 73%>
            <h2 class="fw-normal">Python</h2>
            <p>This course starts from June 10 2025 & includes the Breif Introduction of Python acoording to the course contents.  </p>
            <p><a class="btn btn-secondary" href="{% url 'mit' %}">Go To course &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'dp.images/food.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 65% height= 65%>
            <h2 class="fw-normal">C++</h2>
            <p>This course starts from June 10 2025 & includes the Breif Introduction of C++ acoording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'food_science' %} ">Go To Course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img src="{% static 'dp.images/food.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 65% height= 65%>
            <h2 class="fw-normal">Java</h2>
            <p>This course starts from June 10 2025 & includes the Breif Introduction of Java acoording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'botany' %} ">Go To Course &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'dp.images/food.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 65% height= 65%>
            <h2 class="fw-normal">C#</h2>
            <p>This course starts from June 10 2025 & includes the Breif Introduction of C# acoording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'chemistry' %} ">Go To Course &raquo;</a></p>
          </div>

      
        </div><!-- /.row -->
    </div>

    <br>
    <br>
  
            </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock content %}