{% extends 'home/base.html' %}
{% load static %}
{% block title %}Applied Sciencies{% endblock title %}
{% block content %}

 
<h1>Applied Sciencies</h1>

<br>
</br>

    
     
     
    <div class = "container">
      <div class="container marketing">
    
        
        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'dp.images/mit.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 73% height= 73%>
            <h2 class="fw-normal">Medical Imaging Technology</h2>
            <p>This Book includes the complete course of MIT acording to the course contents.  </p>
            <p><a class="btn btn-secondary" href="{% url 'mit' %}">Go To course &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'dp.images/food.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 65% height= 65%>
            <h2 class="fw-normal">Food Science & Sciencies </h2>
            <p>This Book includes the complete course of Food Sciencies acording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'food_science' %} ">Go To Course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="{% static 'dp.images/botany.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 70% height= 70%>
            <h2 class="fw-normal">Botany<br> (Plant Scientists)</h2>
            <p>This Book includes the complete course of Botany acording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'botany' %}">Go To Course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <br>
    <br>
  
            </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock content %}