{% extends 'home/base.html' %}
{% load static %}
{% block title %}Rehab & Allied{% endblock title %}
{% block content %}

 
<h1>Three Monthes Short Cousres</h1>

<br>
</br>

    
    
     
    <div class = "container">
      <div class="container marketing">
    
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'dp.images/bt.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 60% height= 60%>
            <h2 class="fw-normal">Cascading Style Sheets (CSS)</h2>
            <p>This course starts from June 05 2025 & includes the Breif Introduction of CSS acoording to the course contents.  </p>
            <p><a class="btn btn-secondary" href=" {% url 'biotech' %} ">Go To course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="{% static 'dp.images/hnd.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 90% height= 90%>
            <h2 class="fw-normal">JavaScript for layout Designing</h2>
            <p>This course starts from June 05 2025 & includes the Breif Introduction of JavaScript acoording to the course contents.</p>
            <p><a class="btn btn-secondary" href=" {% url 'hnd' %}">Go To Course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          
          <div class="col-lg-4">
            <img src="{% static 'dp.images/mlt.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 65% height= 65%>
            <h2 class="fw-normal">Hypertext Markup Language</h2>
            <p>This course starts from June 05 2025 & includes the Breif Introduction of HTML acoording to the course contents.</p>
            <p><a class="btn btn-secondary" href="{% url 'mlt' %}">Go To Course &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>

    <br>
    <br>
    <div class = "container">
        <div class="container marketing">
    
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img src="{% static 'dp.images/dpt.jpg' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 60% height= 60%>
                <h2 class="fw-normal">Vue.Js</h2>
                <p>This course starts from June 05 2025 & includes the Breif Introduction of Vue.Js acoording to the course contents.</p>
                <p><a class="btn btn-secondary" href="{% url 'dpt' %}">Go To Course &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img src="{% static 'dp.images/slp.png' %}" class="img-fluid rounded-start bd-placeholder-img rounded-circle" alt="Profile Image" width= 75% height= 75%>
                <h2 class="fw-normal">Angular</h2>
                <p>This course starts from June 05 2025 & includes the Breif Introduction of Angular acoording to the course contents.</p>
                <p><a class="btn btn-secondary" href="{% url 'slp' %}">Go To Course &raquo;</a></p>
              </div>
              
            </div>
            </div>
<br>
<br>
<br>






{% endblock content %}


